img{
  width: 100px;
  height: 100px;
  }

  .Profile
  {
    background-color: aqua;
  border-radius: 25px;
  padding: 20px;
  width: 200px;
  height: 10px;
  }

  button
  {
    background-color: #174372;
    border:none;
    border-radius:10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0)
  }
button:hover
{
  background-color: #555f69;
  opacity: 0.6;
}

.View
{
  width: 50%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}
