.btn {
  margin-left: 5rem;
  background-color: #174372;
  color: #fff;
}

.btn:hover {
  background-color: #174372;
  color: #fff;
}

.btn:clicked {
  background-color: #174372;
  color: #fff;
}

.dropdown-option:hover {
  background-color: #174372;
  color: #fff;
}